.scan-result-item {
    min-height: fit-content;

    .row {
        min-height: 100px;
    }
    
    .row.expand-button-row {
        text-align: center;
        vertical-align: middle;
        height: 24px;
        min-height: 24px;

        .row-expand-button-indicator {
            margin-bottom: 10px;
            margin-left: auto;
            margin-right: auto;
            height: 100%;
            width: 48px;
            border-radius: 0.375rem;
        }

        .row-expand-button-indicator:hover {
            background-color: var(--bs-link-hover-color);
            cursor: default;
        }

    }

    .col {
        height: 100%;
        min-height: 100px;

        .result-item-details {
            height: 100%;
            width: 100%;
            padding: 3px;

            * {
                width: 100%;
            }

            p {
                margin: 0;
            }

            .file-name-field {
                font-size: large;
                font-weight: bold;
            }

            .file-attribute-field {
                font-size: small;
            }
        }

        .source-result-item {
            text-align: left;
        }

        .target-result-item {
            text-align: right;
        }
    }

    .col.merge-actions-col {
        margin: 3px;
        padding: 0px;
        width: 50px;
        max-width: 50px;

        .merge-actions-container {
            position: absolute;
            width: 36px;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }

    .col.source-col {
        width: auto;
    }

    .col.target-col {
        width: auto;
    }

    .result-merge-button {
        height: 36px;
        min-height: 36px;
        width: 36px;
        min-width: 36px;
        padding: 3px;
        margin: 3px 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    } 
    .merge-source {
        background-image:url(./assets/replace-target.png);
    }

    .merge-target {
        background-image:url(./assets/replace-source.png);
    }
}
